global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']

  - job_name: 'weather-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['weather-service:8081']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'weather-service'

  - job_name: 'gateway'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['gateway:8080']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'gateway'
